<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>16-HomeWork-UIView-Drawings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9A800871EB4802F000849FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9A800A01EB4802F000849FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9A800AB1EB4802F000849FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
